.container {
    width: 70%;
    margin: auto;
    text-align: center;
    
  }

  .flex{
    display: flex;
  }
  
  .rps {
    text-align: center;
    display: inline-block;
  
  }
  
  body {
    background-color: #393E46;
  }
  
  h1 {
    margin: 22px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 7rem;
    color: #4ECCA3;
  }
  
  p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 80%;
  }
  .img1 .img2{
  object-fit: cover;
  
  }
  
  footer {
    margin-top: 2%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }
  
  button{
    margin-left: 47% ;
    margin-top: 1rem;
  padding: 4px 30px;
  border-radius: 5%;
  font-family: 'montserrat'sans-serif;
  font-size: large;
  background-color: #4ECCA3;
  border-radius: 5px;
  
  }
  
  @media (min-width: 400px) {
      h1{
          width: 100%;
          font-size: 4rem;
          margin-top: 3rem;
      }
  }